---
import type { Project } from '../../types'

export interface Props {
  project: Project
}

const { project } = Astro.props as Props

const href = `https://github.com/DerYeger/${project.repo}`
---

<a href={href} rel="noopener" target="_blank">
  <img
    class="square max-w-[4rem]"
    src={project.img}
    alt={project.title}
    title={project.title}
  />
</a>
