---
import { Picture } from '@astrojs/image/components'

import type { Project } from '~/types'

export interface Props {
  project: Project
}

const { project } = Astro.props as Props

const src = await import(`../../assets/projects/${project.id}.png`)
---

<a
  href={project.url}
  class="block h-full no-underline"
  rel="noreferrer"
  target="_blank"
>
  <div
    class="card card-hover flex h-full flex-col justify-between gap-4 overflow-hidden dark:border-neutral-700"
  >
    <div class="prose dark:prose-invert prose-sm">
      <h3 class="m-4">{project.title}</h3>
      <span class="text-light mx-4 mb-2">{project.details}</span>
    </div>
    <Picture
      class="surface my-0 h-auto w-full rounded-b border-t"
      src={src.default}
      aspectRatio={2}
      widths={[800]}
      quality={85}
      sizes="800px"
      format="avif,webp"
      alt={project.title}
      loading="lazy"
    />
  </div>
</a>
