---
import { Picture } from '@astrojs/image/components'

import type { Project } from '~/types'

export interface Props {
  project: Project
}

const { project } = Astro.props as Props

const src = await import(`../../assets/projects/${project.id}.png`)
---

<a
  href={project.url}
  class="block no-underline h-full"
  rel="noreferrer"
  target="_blank"
>
  <div
    class="card card-hover dark:border-neutral-700 h-full flex flex-col justify-between overflow-hidden gap-4"
  >
    <div class="prose dark:prose-invert prose-sm">
      <h3 class="m-4">{project.title}</h3>
      <span class="mx-4 mb-2 text-light">{project.details}</span>
    </div>
    <Picture
      class="rounded-b border-t surface my-0 w-full h-fit"
      src={src.default}
      aspectRatio={2}
      widths={[800]}
      quality={85}
      sizes="800px"
      format="avif,webp"
      alt={project.title}
      loading="lazy"
    />
  </div>
</a>
