---
import { Image } from '@astrojs/image/components'

import type { Project } from '../../types'

export interface Props {
  project: Project
}

const { project } = Astro.props as Props

const href = `https://github.com/DerYeger/${project.id}`

const src = await import(`../../assets/projects/${project.id}.png`)
---

<a
  href={href}
  class="block no-underline h-full"
  rel="noreferrer"
  target="_blank"
>
  <div
    class="card card-hover dark:border-neutral-700 h-full flex flex-col justify-between overflow-hidden gap-4"
  >
    <div class="prose dark:prose-invert prose-sm">
      <h3 class="m-4">{project.title}</h3>
      <span class="mx-4 mb-2 text-light">{project.details}</span>
    </div>
    <Image
      class="rounded-b border-t surface my-0"
      src={src.default}
      aspectRatio={2}
      width={800}
      format="webp"
      alt={project.title}
      loading="lazy"
    />
  </div>
</a>
