---
import DateRange from '@components/date/DateRange.astro'
import Dot from '@components/Dot.astro'
import Heading from '@components/Heading.astro'
import { DateFormats } from '@utils/lib'
import type { Education } from '@utils/types'

export interface Props {
  education: Education
}

const { education } = Astro.props as Props
---

<div class="group/heading flex flex-col gap-1 md:items-center md:text-center" data-testid={education.name}>
  <Heading id={`education-${education.id}`} level={3} class="font-semibold text-xl text-strong mb-1 md:anchor-heading-margin" isGroup={false}>{education.name}</Heading>
  <div class="text-lighter">
    <DateRange startDate={education.startDate} endDate={education.endDate} format={DateFormats.Month} />
  </div>
  <span class="text-lg">
    <a href={education.href} rel="noreferrer" target="_blank">{education.institution}</a>
    <Dot />
    {education.grade}
  </span>

</div>
