---
import DateComponent from '~/components/date/DateComponent.astro'
import Dot from '~/components/Dot.astro'
import { DateFormats } from '~/lib'
import type { Award } from '~/types'

export interface Props {
  award: Award
}

const { award } = Astro.props as Props
---

<div class="flex flex-col gap-1 md:items-center md:text-center" data-testid={award.name}>
  <span class="font-semibold text-xl text-strong mb-1">{award.name}</span>
  <span class="text-lighter ">
    <DateComponent date={award.date} format={DateFormats.Month} />
  </span>
  <span class="text-lg">
    {award.by}
    {
      award.href && (
        <>
          <Dot />
          <a href={award.href} rel="noreferrer" target="_blank">
            Details
          </a>
        </>
      )
    }
  </span>
</div>
