---
import { getCollection } from 'astro:content'
import moment from 'moment'
import BlogHeroImage from '~/components/BlogHeroImage.astro'

import DateComponent from '~/components/date/DateComponent.astro'
import Dot from '~/components/Dot.astro'
import MainLayout from '~/layouts/MainLayout.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<MainLayout
  title="Blog"
  image="/open-graph/blog.png"
>
  <div class="mx-auto max-w-7xl px-4 mt-8 mb-16">
    <h1 class="title mt-16 mb-16 text-5xl w-fit mx-auto">Jan's Blog</h1>
    <ul
      class="grid grid-flow-row grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-4"
    >
      {
        posts.map(async (post) => {
          const { remarkPluginFrontmatter } = await post.render()
          return (
            <li class="card hover:shadow-2xl transition-shadow overflow-hidden" data-testid={`blog-post-${post.slug}`}>
              <a
                href={`/blog/${post.slug}/`}
                class="block no-underline"
              >
                <BlogHeroImage heroImage={post.data.heroImage} title={post.data.title} height={100} />
                <div class="flex flex-col gap-4 p-6">
                  <h2 class="my-0! font-bold">{post.data.title}</h2>
                  <span class="text-lighter">
                    <DateComponent
                      date={moment(post.data.pubDate).toISOString()}
                      format="MMM DD, YYYY"
                    />
                    {remarkPluginFrontmatter && (
                      <>
                        <Dot />
                        <span>{remarkPluginFrontmatter.readingTime}</span>
                      </>
                    )}
                  </span>
                  <span class="text-pretty">{post.data.description}</span>
                </div>
              </a>
            </li>
          )
        })
      }
    </ul>
  </div>
</MainLayout>
