---
import { Image } from '@astrojs/image/components'

import DateComponent from '../components/date/DateComponent.astro'
import Dot from '../components/Dot.astro'
import MainLayout from '../layouts/MainLayout.astro'
import { getImageAsset } from '../lib'

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}'))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .filter((post) => !post.frontmatter.draft)
---

<MainLayout
  title="Blog"
  image="https://og-image-deryeger.vercel.app/**Jan's%20Blog**.png?theme=dark&md=1&fontSize=225px&images=https%3A%2F%2Fjan-mueller.at%2Fog-image-light.svg"
>
  <div class="container mx-auto px-4 py-8">
    <div class="prose dark:prose-invert mb-8">
      <h1>Jan's Blog</h1>
    </div>
    <ul class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      {
        posts.map((post) => (
          <li class="card card-hover overflow-hidden">
            <a href={post.url} rel="prefetch" class="block no-underline">
              {post.frontmatter.heroImage && (
                <Image
                  class="w-full h-[100px] object-cover"
                  src={getImageAsset(post.frontmatter.heroImage)}
                  width={1200}
                  height={200}
                  quality={100}
                  format="webp"
                  alt={post.frontmatter.title}
                />
              )}
              <div class="prose prose-sm dark:prose-invert p-4 flex flex-col gap-4">
                <h2 class="my-0">{post.frontmatter.title}</h2>
                <span class="text-lighter">
                  <DateComponent
                    date={post.frontmatter.pubDate}
                    format="MMM DD, YYYY"
                  />
                  <Dot />
                  <span>{post.frontmatter.readingTime}</span>
                </span>
                <span class="text-light">{post.frontmatter.description}</span>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</MainLayout>
