---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '~/styles/base.css'

import { Schema } from 'astro-seo-schema'

import { LinkedData } from '~/linkedData'

export interface Props {
  title?: string | undefined
  description?: string | undefined
  image?: string | undefined
  loadTheme?: boolean
}

const { title, description, image = '/open-graph/default.png', loadTheme = true } = Astro.props as Props

const finalTitle = title ? `${title} – Jan Müller` : 'Jan Müller'
const finalDescription =
  description ??
  'Personal website of Jan Müller, a passionate senior software engineer.'

const imageURL = new URL(`${image}`, Astro.site)
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<style is:inline>
html {
  color: black;
}

html.dark {
  color: white;
}
</style>

{loadTheme ? (
<script is:inline>
  function getInitialTheme() {
    const saved = localStorage.getItem('theme')
    if (saved === 'light' || saved === 'dark') {
      return saved
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
  }

  if (getInitialTheme() === 'dark') {
    document.documentElement.classList.add('dark');
    document.querySelector('meta[name="theme-color"]')?.setAttribute('content', '#000000');
  }
</script>
) : null}

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="mask-icon" href="/favicon.svg" color="#333" />
<meta name="color-scheme" content="light dark" />
<meta name="theme-color" content="#FAFAFA" />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Primary Meta Tags -->
<title>{finalTitle}</title>
<meta name="title" content={finalTitle} />
<meta name="description" content={finalDescription} />
<link rel="canonical" href={canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={finalTitle} />
<meta property="og:description" content={finalDescription} />
<meta property="og:image" content={imageURL} />

<!-- Twitter -->
<meta property="twitter:creator" content="@DerYeger" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={finalTitle} />
<meta property="twitter:description" content={finalDescription} />
<meta property="twitter:image" content={imageURL} />

<Schema item={LinkedData} />
