---
import { Icon } from 'astro-icon/components'

import Showcase from '~/components/showcase/Showcase.astro'
import ShowcaseDescription from '~/components/showcase/ShowcaseDescription.astro'
import ShowcaseTitle from '~/components/showcase/ShowcaseTitle.astro'

const name = 'Apollo'

type Star =
  `top-${number} right-${number} w-${number} animation-delay-${number}!`
const stars: Star[] = [
  'top-4 right-7 w-4 animation-delay-0!',
  'top-10 right-12 w-3 animation-delay-200!',
  'top-6 right-16 w-2 animation-delay-400!',
  'top-12 right-20 w-4 animation-delay-600!',
  'top-9 right-36 w-2 animation-delay-800!',
  'top-16 right-48 w-3 animation-delay-1000!',
]

const { default: moon } = await import(`~/assets/projects/Moon.svg?raw`)

const { default: earth } = await import(`~/assets/projects/Earth.svg?raw`)
---

<Showcase
  name={name}
  link="https://apollo.janmueller.dev"
  class="apollo bg-linear-to-tr! dark dark:from-slate-900 dark:to-violet-900 transition-all"
>
  {
    stars.map((star) => (
      <Icon
        class={`absolute text-yellow-500 ${star} transition-transform duration-500 group-hover:-translate-x-2 group-hover:translate-y-1 group-hover:scale-50 motion-safe:animate-[pulse_2000ms_ease-in-out_infinite]`}
        name="mdi:star"
      />
    ))
  }
  <div
    class="absolute -bottom-6 -left-6 size-24 transition-transform duration-500 group-hover:-translate-y-4 group-hover:translate-x-28 group-hover:scale-50"
  >
    <Fragment set:html={moon} />
  </div>
  <div
    class="absolute -bottom-12 -left-24 size-24 brightness-125 transition-transform duration-500 group-hover:-translate-y-6 group-hover:translate-x-24"
  >
    <Fragment set:html={earth} />
  </div>
  <div>
    <ShowcaseTitle>{name} 🚀</ShowcaseTitle>
    <ShowcaseDescription>
      A <mark>graph-based first-order-logic model checker</mark> and the result of
      my <mark>bachelor thesis</mark>.
    </ShowcaseDescription>
  </div>
</Showcase>
