---
import { Picture } from '@astrojs/image/components'

export type Location = `${string}, ${string}`

interface Props {
  src: Promise<typeof import('*.png')> | Promise<typeof import('*.webp')>
  alt: (location: Location) => string
  location: Location
  initial?: boolean
}

const { src, alt, location, initial = false } = Astro.props
---

<div
  class={`photo group absolute inset-0 transition-opacity duration-1000 ${
    initial ? 'z-10' : 'opacity-0'
  }`}
>
  <Picture
    src={src}
    alt={alt(location)}
    widths={[768]}
    sizes="768px"
    aspectRatio={1}
    quality={85}
    format={['avif', 'webp']}
    loading="lazy"
    class="m-0 h-full w-full object-cover"
  />
  <div
    class="glass absolute inset-x-3 bottom-2 rounded-3xl px-2 py-1 text-center text-xs opacity-0 transition-opacity duration-500 group-hover:opacity-100"
  >
    {location}
  </div>
</div>
