---
import { Image } from 'astro:assets'

export type Location = `${string}, ${string}`

export interface PhotoData {
  src: Promise<typeof import('*.png')> | Promise<typeof import('*.webp')>
  alt: (location: Location) => string
  location: Location
}

interface Props {
  photo: PhotoData
  index: number
  total: number
  initial?: boolean
}

const { photo, initial = false, index, total } = Astro.props
const { src, alt, location } = photo

function getNumberWithOrdinal(n: number) {
  const s = ['th', 'st', 'nd', 'rd']
  const v = n % 100
  return n + (s[(v - 20) % 10] || s[v] || s[0])
}
---

<div
  class={`photo group absolute inset-0 transition-opacity duration-1000 ${
    initial ? 'z-10' : 'opacity-0'
  }`}
>
  <div
    class="absolute inset-x-0 top-2 flex justify-center opacity-0 transition-opacity duration-500 group-hover:opacity-100"
  >
    {
      Array.from({ length: total }, (_, i) => (
        <button
          class="dot cursor-pointer p-1"
          data-index={i}
          aria-label={`Show ${getNumberWithOrdinal(i + 1)} image.`}
        >
          <div
            class={`size-2 rounded-full ${
              i === index ? 'bg-white' : 'glass opacity-75'
            }`}
          />
        </button>
      ))
    }
  </div>
  <Image
    src={src}
    alt={alt(location)}
    height={600}
    quality="high"
    layout="full-width"
    object-fit="cover"
    format="webp"
    loading="lazy"
    class="pointer-events-none m-0 size-full select-none object-cover"
  />
  <div
    class="glass absolute inset-x-3 bottom-2 rounded-3xl px-2 py-1 text-center text-xs opacity-0 transition-opacity duration-500 group-hover:opacity-100"
  >
    {location}
  </div>
</div>
