---
import ExperienceRoleEntry from '~/components/cv/experience/ExperienceRoleEntry.astro'
import DateRange from '~/components/date/DateRange.astro'
import Dot from '~/components/Dot.astro'
import { cn } from '~/components/ui/cn'
import { formatDuration } from '~/lib'
import type { Experience as ExperienceType } from '~/types'

export interface Props {
  experience: ExperienceType
}

const { experience } = Astro.props as Props

const startDate = experience.roles.map((r) => r.startDate).sort()[0]
const endDate = experience.roles.map((r) => r.endDate).sort().reverse()[0]

const duration = !endDate ? undefined : formatDuration(startDate, endDate)
---

<div class="flex flex-col" data-testid={experience.name}>
  <a href={experience.href} rel="noreferrer" target="_blank" class="font-bold text-xl text-strong w-fit md:whitespace-nowrap">
    {experience.name}
  </a>
  <div class="mt-2">
    <DateRange startDate={startDate} endDate={endDate} />
    {duration ? <>
      <Dot />
      <span class="whitespace-nowrap">{duration}</span>
    </> : null}
  </div>
  <ul class="mt-4 flex flex-col gap-8">
    {experience.roles.map((role, index) => (
      <li class="flex-1 flex gap-3 relative">
        <div class={cn('relative size-2 shrink-0 mt-2.5')}>
          {!role.endDate ? <div class={cn('absolute -inset-0.5 rounded-full motion-safe:animate-ping [animation-duration:2s]! bg-green-600 dark:bg-green-300')} /> : null }
          <div class={cn('absolute inset-0 rounded-full drop-shadow-md', role.endDate ? 'bg-neutral-400 dark:bg-neutral-600' : 'bg-green-500 dark:bg-green-400')} />
          {!role.endDate ? <div class={cn('absolute inset-0.25 rounded-full bg-white/15')} /> : null }
          {!role.endDate ? <div class={cn('absolute inset-0.5 rounded-full bg-white/15')} /> : null }
          {!role.endDate ? <div class={cn('absolute inset-0.75 rounded-full bg-white/10')} /> : null }
        </div>
        { index < experience.roles.length - 1 ? <div class={cn('absolute drop-shadow-md left-0.75 top-2.5 -bottom-11 w-0.5 bg-neutral-300 dark:bg-neutral-700 -z-10', !role.endDate && 'bg-gradient-to-t from-neutral-300 dark:from-neutral-700 from-30% to-green-600 dark:bg-green-300')} /> : null}
        <div>
          <ExperienceRoleEntry role={role} isOnlyRole={experience.roles.length === 1} />
        </div>
      </li>
    ))}
  </ul>
</div>
