---
import type { Experience as ExperienceType } from '../../../types'
import DateRange from '../../date/DateRange.astro'

export interface Props {
  experience: ExperienceType
}

const { experience } = Astro.props as Props
---

<div class="flex flex-col lh-6">
  {
    experience.href && (
      <a href={experience.href} rel="noreferrer" target="_blank" class="w-fit">
        {experience.name}
      </a>
    )
  }
  {
    !experience.href && (
      <span class="text-black dark:text-white">{experience.name}</span>
    )
  }
  <span>
    {experience.description}
  </span>
  <div class="text-lighter">
    <DateRange startDate={experience.startDate} endDate={experience.endDate} />
  </div>
</div>
