---
import DateRange from '~/components/date/DateRange.astro'
import type { Experience as ExperienceType } from '~/types'

export interface Props {
  experience: ExperienceType
}

const { experience } = Astro.props as Props
---

<div class="lh-6 flex flex-col">
  {
    experience.href && (
      <a href={experience.href} rel="noreferrer" target="_blank" class="w-fit">
        {experience.name}
      </a>
    )
  }
  {!experience.href && <span class="text-black">{experience.name}</span>}
  <span>
    {experience.description}
  </span>
  <div class="text-lighter">
    <DateRange startDate={experience.startDate} endDate={experience.endDate} />
  </div>
</div>
