---
import type { Props as BaseHeadProps } from '~/components/BaseHead.astro'
import BaseHead from '~/components/BaseHead.astro'
import Footer from '~/components/Footer.astro'
import Header from '~/components/Header.astro'
import Main from '~/components/Main.astro'
import { cn } from '~/components/ui/cn'
import type { Link } from '~/links'

export interface Props extends Partial<BaseHeadProps> {
  fitScreen?: boolean
  sublinks?: Link[]
}

const { title, description, image, sublinks, fitScreen = false } = Astro.props as Props

const floatingHeader = !fitScreen
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
    {fitScreen ? (<style>
      html,
      body {
        height: 100vh;
        height: 100dvh;
      }
    </style>) : null}
  </head>
  <body class={cn('max-w-full overflow-x-hidden bg-neutral-50 dark:bg-black text-neutral-800 dark:text-neutral-200 select-none', fitScreen ? 'flex flex-col' : '')}>
    <Header align="center" sublinks={sublinks} floating={floatingHeader} />
    <!-- <div class={cn(floatingHeader && 'sm:h-8')} /> -->
    <Main class={cn(fitScreen && 'grow', floatingHeader && 'sm:pt-8')}>
      <slot />
    </Main>
    <Footer compact={fitScreen} />
  </body>
</html>
