---
import { Image } from '@astrojs/image/components'

import DateComponent from '../components/date/DateComponent.astro'
import Dot from '../components/Dot.astro'

import MainLayout from './MainLayout.astro'

export interface Props {
  content: {
    title?: string
    description?: string
    publishDate?: string
    updatedDate?: string
    heroImage?: string
  }
}

const {
  content: { title, description, publishDate, updatedDate, heroImage },
} = Astro.props as Props

const assets = await Astro.glob('../assets/**/*')
const heroImageAsset = assets.find((asset) => {
  if (!heroImage) {
    return false
  }
  if (!asset.default?.src) {
    return false
  }
  const index = asset.default.src.indexOf('/assets/')
  return asset.default.src.slice(index) === heroImage
})
---

<MainLayout title={`${title} — Jan Müller`}>
  <article class="prose dark:prose-invert">
    {
      heroImageAsset && (
        <Image
          class="w-full h-[200px] object-cover card"
          src={heroImageAsset.default}
          format="webp"
          alt=""
        />
      )
    }
    {title && <h1>{title}</h1>}
    {
      publishDate && (
        <div class="flex flex-wrap gap-1 mt-8 mb-4">
          {publishDate && (
            <DateComponent date={publishDate} format="MMM DD, YYYY" />
          )}
          {updatedDate && (
            <>
              <Dot />
              <div>
                Last updated on{' '}
                <DateComponent date={updatedDate} format="MMM DD, YYYY" />
              </div>
            </>
          )}
        </div>
      )
    }
    {description && <blockquote>{description}</blockquote>}
    <slot />
  </article>
</MainLayout>
