---
import { Image } from '@astrojs/image/components'

import DateComponent from '../components/date/DateComponent.astro'
import Dot from '../components/Dot.astro'
import { getImageAsset } from '../lib'

import MainLayout from './MainLayout.astro'

export interface Props {
  content: {
    title?: string
    description?: string
    pubDate?: string
    updatedDate?: string
    heroImage?: string
    file?: string
    noToc?: boolean
    openGraphImage?: string
  }
  headings: {
    depth: number
    slug: string
    text: string
  }[]
}

const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    noToc,
    openGraphImage,
  },
  headings,
} = Astro.props as Props

const assets = await Astro.glob('../assets/**/*')
const heroImageAsset = heroImage ? getImageAsset(assets, heroImage) : undefined
---

<MainLayout
  title={title ? `${title} — Jan Müller` : 'Jan Müller'}
  image={openGraphImage}
>
  <article class="container mx-auto px-4 py-8 prose dark:prose-invert">
    {
      heroImageAsset && (
        <Image
          class="w-full h-[200px] object-cover card border-0"
          src={heroImageAsset.default}
          width={1300}
          height={400}
          quality={100}
          format="webp"
          loading="eager"
          alt={title}
        />
      )
    }
    {title && <h1>{title}</h1>}
    {
      pubDate && (
        <div class="flex flex-wrap gap-1 mt-8 mb-4">
          {pubDate && <DateComponent date={pubDate} format="MMM DD, YYYY" />}
          {updatedDate && (
            <>
              <Dot />
              <div>
                Last updated on{' '}
                <DateComponent date={updatedDate} format="MMM DD, YYYY" />
              </div>
            </>
          )}
        </div>
      )
    }
    {description && <blockquote>{description}</blockquote>}
    {
      !noToc && (
        <aside>
          <h2>Contents</h2>
          <ul>
            {headings.map(({ depth, slug, text }) => (
              <li style={{ marginLeft: `${2 * (depth - 2)}rem` }}>
                <a href={`#${slug}`}>{text}</a>
              </li>
            ))}
          </ul>
        </aside>
      )
    }
    <slot />
  </article>
</MainLayout>
