---
// eslint-disable-next-line import/no-unresolved
import { Image } from 'astro:assets'

import DateComponent from '~/components/date/DateComponent.astro'
import Dot from '~/components/Dot.astro'
import MainLayout from '~/layouts/MainLayout.astro'
import { getImageAsset } from '~/lib'

export interface Props {
  content: {
    title?: string
    description?: string
    pubDate?: string
    updatedDate?: string
    heroImage?: string
    file?: string
    noToc?: boolean
    openGraphImage?: string
    readingTime: string
  }
  headings: {
    depth: number
    slug: string
    text: string
  }[]
}

const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    noToc,
    openGraphImage,
    readingTime,
  },
  headings,
} = Astro.props as Props

const heroImageAsset = heroImage ? getImageAsset(heroImage) : undefined

function removeSRLabel(text: string) {
  const labelStart = text.indexOf('Section titled')
  return text.substring(0, labelStart)
}
---

<MainLayout title={title} description={description} image={openGraphImage}>
  <article class="prose container mx-auto px-4 py-8">
    {
      heroImageAsset && (
        <Image
          class="card h-[200px] w-full border-0 object-cover"
          src={heroImageAsset}
          width={1300}
          height={400}
          quality={85}
          format="webp"
          loading="eager"
          alt={title ?? ''}
        />
      )
    }
    {title && <h1>{title}</h1>}
    {
      pubDate && (
        <div class="mb-4 mt-8 flex flex-wrap gap-1">
          {pubDate && <DateComponent date={pubDate} format="MMM DD, YYYY" />}
          {updatedDate && (
            <>
              <Dot />
              <div>
                Last updated on{' '}
                <DateComponent date={updatedDate} format="MMM DD, YYYY" />
              </div>
            </>
          )}
          <Dot />
          {readingTime}
        </div>
      )
    }
    {description && <blockquote>{description}</blockquote>}
    {
      !noToc && (
        <aside>
          <h2>Contents</h2>
          <ul>
            {headings.map(({ depth, slug, text }) => (
              <li style={{ marginLeft: `${2 * (depth - 2)}rem` }}>
                <a href={`#${slug}`}>{removeSRLabel(text)}</a>
              </li>
            ))}
          </ul>
        </aside>
      )
    }
    <slot />
  </article>
</MainLayout>
